.item-selected {
    background: linear-gradient(to right, rgba(34, 148, 160, 1), rgba(152, 195, 121, 1));
    color: #fff;
}

.item-selected .slect-item {
    color: #ebebeb;
}

.delete-icon {
    /* opacity: 0; */
    position: absolute;
    color: #696969;
    top: 22px;
    right: 12px;
}

.con-item:hover .delete-icon {
    opacity: 1;
}